.title
  h1= title
  if !!subtitle
    p.subtitle= subtitle

  if dates
    each event in dates
      if dateFns.isToday(new Date(event.date))
        .date #{event.name} · #[time(datetime=event.date)= dateFns.format(new Date(event.date), 'MMM D, YYYY', {locale: dateFns.locales[lang]})]

  a.speaker(href="https://twitter.com/m4d_z") @m4d_z

if !!company
  figure.company: img.plain(src=`/img/${company.name}/logo_alpha.svg` alt=`${company.name} logo`)

if notes
  aside.notes
    != notes
