extends _layout.pug

mixin link_to_slides
  a.permalink(href=`${baseurl}/${path}`) #{baseurl}/#{path}

block head
  link(rel="stylesheet" href="/css/alwaysdata/dark-dark.css")

  script(src="/js/head.min.js" defer)
  script(src="/js/reveal.js" defer)
  script(src="/js/prism.js" defer data-manual)
  script(src="/js/TweenLite.min.js" defer)

block content
  .reveal
    .slides
      section.cover
        include _cover.pug
        +link_to_slides
      if who === 'start'
        section.speaker: include _speaker.pug
      != contents
      if who === 'end'
        section.speaker: include _speaker.pug
      if questions
        section.interleaf(data-background-image="/img/pexels/389962.jpeg")
          //- Photo by Mikes Photos from Pexels
          h2 Questions!{lang === 'fr'? '&nbsp;' : ''}?

  script.
    document.addEventListener('DOMContentLoaded', () => {
      Reveal.initialize({
        slideNumber: true,
        history: true,
        fragmentInURL: true,
        autoPlayMedia: true,

        width: 1280,
        height: 720,

        dependencies: [
          { src: '/js/classList.js', condition() { !document.body.classList } },

          { src: '/js/breadcrumb.js', async: true },
          { src: '/js/linkrolls.js', async: true },
          { src: '/js/fix-pre-attrs.js', async: true },
          { src: '/js/interleaf.js', async: true },

          { src: '/js/plugins/zoom.js', async: true },
          { src: '/js/plugins/notes.js', async: true },

          { src: '/js/plugins/prism-keep-markup.js' },
          { src: '/js/plugins/prism-line-numbers.js' },
          { src: '/js/plugins/prism-line-highlight.js' },

          { src: '/js/plugins/CSSPlugin.min.js', async: true },
        ]
      })

      Reveal.addEventListener('ready', function( event ) {
        Prism.highlightAllUnder(event.currentSlide)
      })

      Reveal.addEventListener('slidechanged', function( event ) {
        Prism.highlightAllUnder(event.currentSlide)
      })
    })
