extends _layout.pug

mixin link_to_slides
  a(href=`${baseurl}/${path}`) #{baseurl}/#{path}

block head
  link(rel="stylesheet" href="/css/reveal/reveal.css")
  link(rel="stylesheet" href="/css/reveal/white.css")
  link(rel="stylesheet" href="/css/alwaysdata/index.css")
  //- link(rel="stylesheet" href="/css/prism.css")
  //- link(rel="stylesheet" href="/css/prism-line-numbers.css")

  script(src="/js/head.min.js" async=true)
  script(src="/js/reveal.js" async=true)

block content
  .reveal
    .slides
      section.cover
        include _cover.pug
        +link_to_slides
      if who === 'start'
        section.speaker: include _speaker.pug
      != contents
      if who === 'end'
        section.speaker: include _speaker.pug
      if questions
        section.interleaf
          h2 Questions!{lang === 'fr'? '&nbsp;' : ''}?

  script.
    window.Reveal && Reveal.initialize({
      slideNumber: true,
      history: true,
      fragmentInURL: true,
      autoPlayMedia: true,

      width: 1280,
      height: 720,

      dependencies: [
        { src: '/js/classList.js', condition: () => { !document.body.classList } },

        { src: '/js/breadcrumb.js', async: true },

        { src: '/js/plugins/zoom.js', async: true },
        { src: '/js/plugins/notes.js', async: true },
      ]
    })
